@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to left, #1b7f79, #72F2EB, #00CCC0);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 80, 75, 0.664);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF4858;
    text-align: center;
    text-shadow: 1px 1px 1px #8a2830;
}

h2 {
    color: #747F7F;
    text-align: center;
}

p {
    text-align: justify;
}